<section class="myOrderDetail" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h2>your account</h2>
        </div>
      </div>
      <div class="col-lg-12 mb-5">
        <div class="section-class">
          <h2>Your Orders</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <div class="myOrder">
          <div class="myOrderheader">
            <div>
              <h6>order placed</h6>
              <b>6 July 2021</b>
            </div>
            <div>
              <h6>total</h6>
              <b>INR 20000/-</b>
            </div>
            <div>

              <h6>ship to</h6>
              <b class="name">John doe</b>
            </div>
            <div>

              <h6>order</h6>
              <b>#123456789</b>
            </div>
            <div>
              <a href="123456789" [routerLink]="['123456789']">view order details</a>
            </div>
            <div>
              <a href="javascript:void(0)">invoice</a>
            </div>
          </div>

          <div class="orderDetail">
            <div class="row">
              <div class="col-lg-12">
                <h4>Arriving Tommorow</h4>
              </div>
              <div class="col-lg-4">

                <img src="./assets/img/dummy.png">
              </div>
              <div class="description col-lg-4">
                <p>Lorem Ipsum is simply</p>
              </div>
              <div class="orderPicked col-lg-4">
                <button type="button" class="btn active">track package</button>
                <button type="button" class="btn">cancel items</button>
                <button type="button" class="btn">ask product question</button>
              </div>
            </div>
          </div>
        </div>
        <div class="myOrder">
          <div class="myOrderheader">
            <div>
              <h6>order placed</h6>
              <b>6 July 2021</b>
            </div>
            <div>
              <h6>total</h6>
              <b>INR 20000/-</b>
            </div>
            <div>

              <h6>ship to</h6>
              <b class="name">John doe</b>
            </div>
            <div>

              <h6>order</h6>
              <b>#123456789</b>
            </div>
            <div>
              <a href="javascript:void(0)">view order details</a>
            </div>
            <div>
              <a href="javascript:void(0)">invoice</a>
            </div>
          </div>
          <div class="orderDetail">
            <div class="row">
              <div class="col=lg-12">
                <h4>Deliverd Monday</h4>
              </div>

              <div class="col-lg-4">

                <img src="./assets/img/dummy.png">
              </div>
              <div class="description col-lg-4">
                <p>Lorem Ipsum is simply</p>
              </div>
              <div class="orderPicked col-lg-4">
                <button type="button" class="btn active">buy it again</button>

                <button type="button" class="btn">ask product question</button>
                <button type="button" class="btn">return/replace item </button>
                <button type="button" class="btn">write product review</button>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="section-class">
            <h2>fetured Prodect</h2>
          </div>
          <div class="sidebar-item recent-posts">



            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
