<header class="header-area logoarea">
  <div class="container align-items-center justify-content-between">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-12 d-flex align-items-center justify-content-between">
        <nav class="site-navbar">
          <a href="/" [routerLink]="['/']" class="logo d-flex_ align-items-center">
            <img src="assets/img/logo.jpg" alt="img">
          </a>
          <ul>
            <li><a class="nav-link active" [routerLink]="['/']" href="javascript:void(0)">Home</a></li>
            <li><a class="nav-link" href="javascript:void(0)">my wishlist</a></li>
            <li><a class="nav-link" [routerLink]="['/about']" href="javascript:void(0)">about</a></li>
            <li><a class="nav-link" [routerLink]="['/contact']" href="javascript:void(0)">contact</a></li>
          </ul>
          <button (click)="toggleNav()" class="nav-toggler">
            <span></span>
          </button>
        </nav>
      </div>
    </div>
  </div>
</header>
