<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">
        <form [formGroup]="form" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-class">
                  <h2>Sign Up</h2>
                </div>
              </div>
              <form>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="fname" class="text-muted">First Name</label>
                      <input class="form-control  " appLeftTrimFormControl formControlName="firstName" id="fname"
                        type="text">
                      <div class="invalid-feedback"
                        *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('required')">
                        Please enter your first name.
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="form.get('firstName')?.touched && form.get('firstName')?.hasError('minlength')">
                        First name should contain at least 3 characters.
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="form.get('firstName')?.touched && !form.get('firstName')?.hasError('minlength') && form.get('firstName')?.hasError('pattern')">
                        Please enter valid first name.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="lname" class="text-muted">Last Name</label>
                      <input class="form-control  " appLeftTrimFormControl formControlName="lastName" id="lname"
                        type="text">
                      <div class="invalid-feedback"
                        *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('required')">
                        Please enter your last name.
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="form.get('lastName')?.touched && form.get('lastName')?.hasError('minlength')">
                        Last name should contain at least 3 characters.
                      </div>
                      <div class="invalid-feedback"
                        *ngIf="form.get('lastName')?.touched && !form.get('lastName')?.hasError('minlength') && form.get('lastName')?.hasError('pattern')">
                        Please enter valid last name.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="email" class="text-muted">Email</label>
                    <input class="form-control " appLeftTrimFormControl formControlName="email" id="email" type="text">
                    <div class="invalid-feedback"
                      *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
                      Please enter your email.
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="form.get('email')?.touched && form.get('email')?.hasError('pattern')">
                      Please enter valid email.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="uname" class="text-muted">Username</label>
                    <input class="form-control " appLeftTrimFormControl formControlName="userName" id="uname"
                      type="text">
                    <div class="invalid-feedback"
                      *ngIf="form.get('userName')?.touched && form.get('userName')?.hasError('required')">
                      Please enter a username.
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="form.get('userName')?.touched && form.get('userName')?.hasError('minlength')">
                      User name should contain at least 5 characters.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="pass" class="text-muted">Password</label>
                    <input class="form-control " (change)="checkPasswords()" appLeftTrimFormControl
                      formControlName="password" id="pass" type="password">
                    <div class="invalid-feedback"
                      *ngIf="form.get('password')?.touched && form.get('password')?.hasError('required')">
                      Please enter a password.
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="form.get('password')?.touched && form.get('password')?.hasError('pattern')">
                      Password should contain at least one number, upper case, lower case, special character & 8-16
                      characters long.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="conpass" class="text-muted">Confirm Password</label>
                    <input class="form-control " (input)="checkPasswords()" appLeftTrimFormControl
                      formControlName="confirmPassword" id="conpass" type="password">
                    <div class="invalid-feedback"
                      *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('required')">
                      Please confirm your password.
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.hasError('passwordNotMatched')">
                      Password & confirm password not matched.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <p class="text-muted" style="font-size: 14px;margin: 7px 0 12px 0;">By creating an account,you agree
                    to YOUR COMPANY NAME,s <a href="javascript:void(0)" style="text-decoration: underline;"> Privacy
                      Policy</a> and
                    <a href="javascript:void(0)" style="text-decoration: underline;"> Terms + Conditions.</a>
                  </p>
                </div>
                <div class="col-lg-12 pb-3">
                  <button type="button" [disabled]="isApiProcessing" (click)="signUp()" class="sendbtn">CREATE AN
                    ACCOUNT</button>
                </div>
              </form>

              <div class="col-lg-12 border-bottom mb-3" style="width: 94%; margin: 0 auto;"> </div>

              <div class="col-lg-12">
                <div class="login-socail">
                  <ul>
                    <li>Log in with</li>
                    <li><a href="javascript:void(0)"><i class="bi bi-facebook"></i></a></li>
                    <li>OR</li>
                    <li><a href="javascript:void(0)"><i class="bi bi-instagram bx bxl-instagram"></i></a></li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </form>
        <p class="text-center text-muted" style="font-size: 14px;margin: 10px 0 0 0;">Already have and account ? <a
            href="javascript:void(0)" [routerLink]="['/auth/login']" style="text-decoration: underline;">Log in</a>
        </p>
      </div>
    </div>
  </div>
</section>
