<section class="simple-gallery">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="maxi" src="assets/img/dummy.png" alt="img">
        <div class="mini">
          <img src="assets/img/thumb.png" alt="img">
          <img src="assets/img/thumb.png" alt="img">
          <img src="assets/img/thumb.png" alt="img">
          <img src="assets/img/thumb.png" alt="img">
          <img src="assets/img/thumb.png" alt="img">
        </div>
      </div>
      <div class="col-lg-6">
        <h6 class="text-muted text-uppercase">category name</h6>
        <h2>Product Name</h2>
        <div class="star-rating">
          <input type="radio" id="5-stars" name="rating" value="5" />
          <label for="5-stars" class="star">&#9733;</label>
          <input type="radio" id="4-stars" name="rating" value="4" />
          <label for="4-stars" class="star">&#9733;</label>
          <input type="radio" id="3-stars" name="rating" value="3" />
          <label for="3-stars" class="star">&#9733;</label>
          <input type="radio" id="2-stars" name="rating" value="2" />
          <label for="2-stars" class="star">&#9733;</label>
          <input type="radio" id="1-star" name="rating" value="1" />
          <label for="1-star" class="star">&#9733;</label>
          <a href="javascript:void(0)" class="more-reviews">Read 18 reviews <span><i
                class="bi bi-chevron-right"></i></span></a>
        </div>

        <div class="text-area">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s</p>
        </div>
        <div class="item-selct">
          <div class="btn-minus"><span><i class="bi bi-dash-lg"></i></span></div>
          <input value="1" />
          <div class="btn-plus"><span><i class="bi bi-plus-lg"></i></span> </div>
        </div>
        <div class="buy d-flex  align-items-center">
          <div class="price">
            <h5 class="mt-4">INR 555/-</h5>
          </div>
          <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="blog">
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-8 entries">
        <article class="entry">
          <div class="section-class">
            <h2>Description</h2>
          </div>
          <div class="entry-content">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has
              survived not only five centuries,
            </p>
          </div>
        </article>



        <article class="entry">
          <div class="section-class">
            <h2>Additional information</h2>
          </div>
          <div class="entry-content">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has
              survived not only five centuries,
            </p>
          </div>
        </article>

        <div class="review">
          <div class="section-class">
            <h2>Reviews</h2>
          </div>
          <div class="reviewer">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/img/reviewer.jpg" alt=""></div>
              <div>
                <h5><a href="">First Name</a> <a href="javascript:void(0)" class="reply">
                    Last Name</a></h5>
                <div class="star-rating">
                  <input type="radio" id="5-stars" name="rating" value="5">
                  <label for="5-stars" class="star">★</label>
                  <input type="radio" id="4-stars" name="rating" value="4">
                  <label for="4-stars" class="star">★</label>
                  <input type="radio" id="3-stars" name="rating" value="3">
                  <label for="3-stars" class="star">★</label>
                  <input type="radio" id="2-stars" name="rating" value="2">
                  <label for="2-stars" class="star">★</label>
                  <input type="radio" id="1-star" name="rating" value="1">
                  <label for="1-star" class="star">★</label>
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard
                </p>
              </div>
            </div>
          </div>
          <div class="reviewer">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/img/reviewer.jpg" alt=""></div>
              <div>
                <h5><a href="">First Name</a> <a href="javascript:void(0)" class="reply">
                    Last Name</a></h5>
                <div class="star-rating">
                  <input type="radio" id="5-stars" name="rating" value="5">
                  <label for="5-stars" class="star">★</label>
                  <input type="radio" id="4-stars" name="rating" value="4">
                  <label for="4-stars" class="star">★</label>
                  <input type="radio" id="3-stars" name="rating" value="3">
                  <label for="3-stars" class="star">★</label>
                  <input type="radio" id="2-stars" name="rating" value="2">
                  <label for="2-stars" class="star">★</label>
                  <input type="radio" id="1-star" name="rating" value="1">
                  <label for="1-star" class="star">★</label>
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard
                </p>
              </div>
            </div>
          </div>
          <div class="reviewer">
            <div class="d-flex">
              <div class="comment-img"><img src="assets/img/reviewer.jpg" alt=""></div>
              <div>
                <h5><a href="">First Name</a> <a href="javascript:void(0)" class="reply">
                    Last Name</a></h5>
                <div class="star-rating">
                  <input type="radio" id="5-stars" name="rating" value="5">
                  <label for="5-stars" class="star">★</label>
                  <input type="radio" id="4-stars" name="rating" value="4">
                  <label for="4-stars" class="star">★</label>
                  <input type="radio" id="3-stars" name="rating" value="3">
                  <label for="3-stars" class="star">★</label>
                  <input type="radio" id="2-stars" name="rating" value="2">
                  <label for="2-stars" class="star">★</label>
                  <input type="radio" id="1-star" name="rating" value="1">
                  <label for="1-star" class="star">★</label>
                </div>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard
                </p>
              </div>
            </div>
          </div>
          <a href="javascript:void(0)" class="morebtn">View More <span><i class="bi bi-chevron-right"></i></span> </a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <div class="section-class">
            <h2>Related Prodect</h2>
          </div>
          <div class="sidebar-item recent-posts">
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>

            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
            <div class="post-item clearfix">
              <img src="assets/img/reviewer.jpg" alt="">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              <a href="javascript:void(0)" class="morebtn">View <span><i class="bi bi-chevron-right"></i></span> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
