<section class="loginsecurity">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-class">
                  <h2>Log in & Security</h2>
                </div>
              </div>

              <form action="#" class="">
                <div class="custom-form">
                  <button type="button" class="edit">Edit</button>
                  <div class="form-group">
                    <input type="text" class="form-control " placeholder="John Doe" name="user" id="user" />
                    <label for="user" class="animated-label">Name</label>
                  </div>
                  <button type="button" class="edit">Edit</button>
                  <div class="form-group">
                    <input type="text" class="form-control " placeholder="johndoe@123@gmail.com" name="email"
                      id="email" />
                    <label for="email" class="animated-label">Email</label>
                  </div>
                  <button type="button" class="edit">Edit</button>
                  <div class="form-group">
                    <input type="text" class="form-control " placeholder="+91 7737****333" name="phone" id="phone" />
                    <label for="phone" class="animated-label">Phone</label>
                  </div>
                  <button type="button" class="edit">Edit</button>
                  <div class="form-group">
                    <input type="text" class="form-control " placeholder="*******" name="pass" id="pass" />
                    <label for="pass" class="animated-label">Password</label>
                  </div>
                </div>
                <div class="submit">
                  <button class="btn btn-primary btn-block">DONE</button>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
