<section class="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-class">
                  <h2>Add a New address</h2>
                </div>
              </div>
              <form action="">
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="name" class="text-muted">Full Name (First and Last Name)</label>
                    <input class="form-control " id="name" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Mobile Number</label>
                    <input class="form-control" placeholder="10 digit mobile number without prefix" id="phone"
                      type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Pin code</label>
                    <input class="form-control" placeholder="6 digits [0-9] PIN code" id="phone" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Flat, House, Building,Company,Apartment</label>
                    <input class="form-control" placeholder="" id="phone" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Area , Colony, Street,Sector,Village</label>
                    <input class="form-control" placeholder="" id="phone" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Landmark</label>
                    <input class="form-control" placeholder="" id="phone" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Town/City</label>
                    <input class="form-control" placeholder="" id="phone" type="text">
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">State/Province/Region</label>
                    <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                      <option selected=""> Select </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12 pb-3">
                  <div class="form-group">
                    <label for="phone" class="text-muted">Address Type</label>
                    <select class="form-select form-select-sm mb-2" aria-label=".form-select-sm example">
                      <option selected=""> Select an addres type </option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button type="button" class="sendbtn">ADD ADDRESS</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
