* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    box-sizing: border-box;
}

a {
    color: #555555;
    text-decoration: none;
}

img {
    max-width: 100%;
    border-radius: 6px;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    color: #0A0A0A;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

section {
    padding: 60px 0;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #555555;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #6776f4;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
}

.header.header-scrolled {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
    line-height: 0;
}

.header .logo img {
    max-height: 40px;
    margin-right: 6px;
}

.header .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #012970;
    font-family: "Nunito", sans-serif;
    margin-top: 3px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
    text-transform: uppercase;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #555555;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #555555;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #555555;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #012970;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

.mobile-nav-toggles.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 22, 61, 0.9);
    transition: 0.3s;
    z-index: 10;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}

.navbar-mobiles a {
    padding: 10px 20px;
    font-size: 15px;
    color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #555555;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #555555;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}


/*************** 06/26/21********* */

#main .mini_header {
    background: #F2F2F2;
    padding: 8px 0;
}

#main .mini_header .topicon i {
    font-size: 20px;
    color: #555555;
}

#main .mini_header .login_area .btn:first-child {
    color: #c490e4;
}

#main .mini_header .login_area .btn:last-child {
    background: #c490e4;
    color: #fff;
}

#main .mini_header .login_area i {
    font-size: 20px;
    color: #555555;
}

.logoarea .logo img {
    width: 112px;
}

.logoarea .navMenu ul {
    margin: 0;
    padding: 0;
}

.logoarea .navMenu ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
}

.logoarea .navMenu ul li a {
    color: #555555;
    font-size: 14px;
}

.logoarea {
    border-bottom: 1px solid #c490e4;
}

.menu .container {
    background: #c490e4;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
}

.product .inner img {
    width: 100%;
    border-radius: 4px;
}

.product .inner {
    position: relative;
}

.product .text {
    position: absolute;
    bottom: 0;
    background: #727272;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
    border-radius: 6px;
}

.product .text p {
    margin: 0;
    font-size: 14px;
}

.product_collction {
    background: #cff0eb;
    background-image: linear-gradient(to bottom, #cff0eb, #cff0eb, #cff0eb, #cff0eb, #fff);
}

.product_collction .section-class {
    position: relative;
}

.product_collction .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.product_collction .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.product_collction .card,
.allproduct .card {
    border-radius: 6px;
    box-shadow: 0 10px 10px -5px;
}

.product_collction .card-body,
.allproduct .card-body {
    padding: 0;
}

.product_collction .card-body .card-title,
.allproduct .card-body .card-title {
    padding: 10px;
    margin: 0;
}

.product_collction .card-body .card-subtitle,
.allproduct .card-body .card-subtitle {
    padding: 10px;
}

.product_collction .card-body .buy,
.allproduct .card-body .buy {
    border-top: 1px solid #c490e4;
    padding: 10px;
}

.product_collction .card-body .addtocart,
.allproduct .card-body .addtocart {
    background: #c490e4;
    padding: 4px 9px;
    border-radius: 6px;
    color: #fff;
}

.product_collction .card img,
.allproduct .card img {
    border-radius: 6px;
    padding: 10px;
}

.product_realated .inner img {
    width: 100%;
    border-radius: 6px;
}

.product_realated .section-class {
    position: relative;
}

.product_realated .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.product_realated .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.product_realated .inner-text p {
    padding: 50px 0 0;
}

.product_realated .inner-text a {
    color: #c490e4;
}

.product_realated .inner-text i {
    color: #c490e4;
}

.allproduct {
    background: #F6C9EB;
    background-image: linear-gradient(to bottom, #F6C9EB, #F6C9EB, #F6C9EB, #F6C9EB, #fff);
}

.allproduct .section-class {
    position: relative;
}

.allproduct .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.allproduct .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

#footer {
    background: #4A4A4A;
}

.footer .footer-top {
    padding: 60px 0 30px 0;
}

.footer .footer-top .footer-links {
    margin-bottom: 30px;
}

.footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 1px solid #808080;
}

.footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

.footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #808080;
    font-size: 12px;
    line-height: 0;
}

.footer .footer-top .footer-links ul a {
    color: #808080;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

.footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.footer .footer-top .footer-info img {
    width: 100px;
}

.footer .footer-top p {
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.footer .footer-top .copyright {
    text-transform: uppercase;
}

.footer .footer-top .copyright p {
    color: #808080;
    margin: 0;
    font-size: 12px;
}

.footer .footer-top .copyright p a {
    color: #808080;
}

.footer .footer-top .footer-links .social-links a {
    display: block;
    color: #808080;
}

.footer .footer-top .footer-links .social-links a span {
    text-transform: capitalize;
    margin-left: 10px;
}

.footer .footer-top .payment-method img {
    width: 100%;
}

.footer .footer-top .row {
    display: flex;
    justify-content: space-between;
}

.simple-gallery .mini {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.simple-gallery .mini img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0px 2px 3px #777;
}

.simple-gallery .mini img:nth-of-type(5) {
    margin-right: 0px;
}

.simple-gallery .maxi {
    width: 100%;
    display: block;
}

.simple-gallery .star-rating,
.blog .review .reviewer .star-rating {
    display: flex;
    font-size: 1.5em;
    padding: 0 .2em;
    text-align: center;
}

.simple-gallery .more-reviews,
.blog .review .reviewer .more-reviews {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #c490e4;
    margin-left: 20px;
}

.simple-gallery .star-rating input,
.blog .review .reviewer .star-rating input {
    display: none;
}

.simple-gallery .star-rating label,
.blog .review .reviewer .star-rating label {
    color: #ccc;
    cursor: pointer;
    color: #fc0;
}

.simple-gallery .star-rating:checked~label,
.blog .review .reviewer .star-rating:checked~label {
    color: #f90;
}

.simple-gallery .star-rating label:hover,
.blog .review .reviewer .star-rating label:hover .simple-gallery .star-rating label:hover~label,
.blog .review .reviewer .star-rating label:hover~label {
    color: #fc0;
}

.simple-gallery .btn-minus,
.newCart .item-selct .btn-minus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: 0;
}

.simple-gallery .btn-plus,
.newCart .item-selct .btn-plus {
    cursor: pointer;
    font-size: 7px;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid gray;
    border-radius: 2px;
    border-left: 0;
}

.simple-gallery .item-selct,
.newCart .item-selct {
    width: 100%;
    display: inline-flex;
}

.simple-gallery .item-selct input,
.newCart .item-selct input {
    margin: 0;
    padding-left: 5px;
    font-size: 10px;
    padding-right: 5px;
    max-width: 12%;
    text-align: center;
}

.simple-gallery .buy .addtocart {
    background: #c490e4;
    padding: 4px 9px;
    border-radius: 6px;
    color: #fff;
    margin-left: 20px;
}

.blog .section-class {
    position: relative;
}

.blog .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
}

.blog .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.blog .entry-content {
    margin-bottom: 30px;
}

.blog .review .reviewer {
    margin-top: 30px;
    position: relative;
}

.blog .review .reviewer img {
    margin-right: 14px;
}

.blog .review .reviewer {
    margin-right: 14px;
}

.blog .review .reviewer img {
    width: 60px;
}

.morebtn {
    color: #c490e4;
}

.morebtn i {
    color: #c490e4;
}

.blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
    margin-right: 15px;
}

.blog .sidebar {
    background: #CDF0EA;
    padding: 20px;
}

.blog .sidebar .post-item {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}

.blog .sidebar .post-item p {
    font-size: 14px;
}

.all-product_warpper .category {
    background: #CDF0EA;
    padding: 25px;
}

.all-product_warpper .category .section-class {
    position: relative;
}

.all-product_warpper .category .metaltype {
    margin: 0px 0 35px 0;
}

.all-product_warpper .category .section-class h2 {
    text-transform: capitalize;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.all-product_warpper .category .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.all-product_warpper .category ul:nth-child(2) {
    list-style: none;
    padding: 0;
}

.all-product_warpper .category ul {
    list-style: none;
}

.all-product_warpper .category ul li input {
    margin-right: 5px;
}

.category .colorpicker ul {
    padding: 0;
}

.category .colorpicker ul li {
    display: inline-block;
    margin-right: 6px;
}

.category .colorpicker ul li:nth-child(1) {
    background-color: #FF0000;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(2) {
    background-color: #29C92F;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(3) {
    background-color: #2BB29B;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(4) {
    background-color: #E9D94A;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(5) {
    background-color: #3D3DDC;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(6) {
    background-color: #839125;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(7) {
    background-color: #FF00EE;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(8) {
    background-color: #38E9E9;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(9) {
    background-color: #F7FF00;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(10) {
    background-color: #9B1313;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(11) {
    background-color: #000000;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(12) {
    background-color: #FFFFFF;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(13) {
    background-color: #919191;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(14) {
    background-color: #8E178E;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(15) {
    background-color: #FF9A9A;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(16) {
    background-color: #B1AECC;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(17) {
    background-color: #1AFF00;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(18) {
    background-color: #107773;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(19) {
    background-color: #FF9900;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(20) {
    background-color: #DCB32B;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.category .colorpicker ul li:nth-child(21) {
    background-color: #675959;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.range-slider {
    width: 100%;
    text-align: center;
    position: relative;
}

.range-slider .rangeValues {
    display: block;
    color: #0A0A0A;
}

.range-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    position: absolute;
    left: 0;
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c490e4;
    margin-top: -4px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.range-slider input[type=range]:focus {
    outline: none;
}

.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

.range-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}

.range-slider input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c490e4;
}


/*hide the outline behind the border*/

.range-slider input[type=range]:-moz-focusring {
    outline-offset: -1px;
}

.range-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;
    /*remove default tick marks*/
    color: transparent;
    z-index: -4;
}

.range-slider input[type=range]::-ms-fill-lower {
    background: #fff;
    border-radius: 10px;
}

.range-slider input[type=range]::-ms-fill-upper {
    background: #fff;
    border-radius: 10px;
}

.range-slider input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #c490e4;
}

.range-slider input[type=range]:focus::-ms-fill-lower {
    background: #fff;
}

.range-slider input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}

.all-product_warpper .category ul li label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #0A0A0A;
}

.all-product_warpper .all-product-inner .section-class {
    position: relative;
}

.all-product_warpper .all-product-inner .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.all-product_warpper .all-product-inner .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.all-product_warpper .product-img-wrap img {
    width: 100%;
    border-radius: 6px;
}

.all-product_warpper .text p {
    font-size: 15px;
    margin-bottom: 5px;
}

.all-product_warpper .price h5 {
    font-size: 14px;
    font-weight: bold;
}

.all-product_warpper .price {
    margin-bottom: 20px;
}

.all-product_warpper .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.all-product_warpper .pagination .page-item.active .page-link {
    background: #c490e4;
    border-color: #c490e4;
    color: #fff;
}

.all-product_warpper .pagination .page-link {
    color: #0A0A0A;
}

.about .heading h2,
.contact .heading h2 {
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.about .heading,
.contact .heading {
    border-bottom: 1px solid #c490e4;
    margin-bottom: 50px;
    padding: 20px;
}

.about .section-class,
.contact .section-class {
    position: relative;
}

.about .section-class h2,
.contact .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.about .section-class h2::before,
.contact .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.about .inner-text p,
.contact .inner-text p {
    padding: 50px 0 0;
}

.about .inner img {
    width: 100%;
    border-radius: 6px;
}

.our-values {
    background: #cff0eb;
    background-image: linear-gradient(to bottom, #cff0eb, #cff0eb, #cff0eb, #cff0eb, #fff);
}

.our-values .section-class {
    position: relative;
}

.our-values .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.our-values .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.our-values i {
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.our-values strong {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.our-team {
    background: #F6C9EB;
    background-image: linear-gradient(to bottom, #F6C9EB, #F6C9EB, #F6C9EB, #F6C9EB, #fff);
}

.our-team .section-class {
    position: relative;
}

.our-team .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.our-team .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.our-team .member img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

.our-team .member {
    text-align: center;
    margin-bottom: 30px;
}

.our-team .member span {
    font-weight: bold;
}

.our-team .member strong {
    font-size: 14px;
}

.our-team .row {
    display: flex;
    justify-content: center;
}

.contact .cardbody {
    background: #F6F6F6;
    padding: 30px 50px 30px 50px;
    border-radius: 6px;
}

.contact .row {
    display: flex;
    align-items: center;
}

.contact .cardbody label {
    font-size: 14px;
    color: #6c757d;
}

.contact .sendbtn,
.login .sendbtn {
    width: 100%;
    background: #c490e4;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 4px;
}

.faq {
    background: #cff0eb;
    background-image: linear-gradient(to bottom, #cff0eb, #cff0eb, #cff0eb, #cff0eb, #fff);
}

.faq .section-class {
    position: relative;
}

.faq .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.faq .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.faq .accordion-item {
    margin-bottom: 20px;
}

.login .section-class {
    position: relative;
}

.login .section-class h2 {
    text-transform: inherit;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.9rem;
}

.login .section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.login .card-body {
    padding: 50px;
}

.login {
    background: #F2F2F2;
}

.login label {
    font-size: 14px;
}

.login .f-password {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.login-socail ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.login-socail ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    color: #6c757d;
}

.login-socail ul li a i {
    font-size: 35px;
    color: #c490e4;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    padding: 20px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
}

.site-navbar ul li a:hover {
    background: rgba(255, 255, 255, .1);
}


/* navbar regular css end */


/* nav-toggler css start */

.nav-toggler {
    border: 3px solid #c490e4;
    padding: 5px;
    background-color: #0A0A0A;
    cursor: pointer;
    height: 39px;
    display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: .3s;
}

.nav-toggler span:before {
    content: '';
    transform: translateY(-9px);
}

.nav-toggler span:after {
    content: '';
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}


/* mobile breakpoint start */


/* nav-toggler css start */

.faq #faq .card {
    margin-bottom: 30px;
    border: 0;
}

.faq #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

.faq #faq .card .card-header .btn-header-link {
    display: block;
    text-align: left;
    background: #fff;
    color: #222;
    border: 1px solid #222;
}

.faq #faq .card .card-header .btn-header-link:after {
    content: "\f282";
    font-family: bootstrap-icons !important;
    font-weight: 900;
    float: right;
}

.faq #faq .card .card-header .btn-header-link.collapsed {
    background: #fff;
    color: #222;
}

.faq #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f286";
}

.faq #faq .card .collapsing {
    background: #fff;
    line-height: 30px;
}

.faq #faq .card .btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}

.faq #faq .card .collapse {
    border: 0;
}

.faq #faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

.youraccount .section-class {
    position: relative;
    display: flex;
    align-items: center;
}

.youraccount .section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.youraccount .section-class::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.youraccount .row {
    display: flex;
    align-items: center;
}

.youraccount .heading,
.contact .heading {
    border-bottom: 1px solid #c490e4;
    margin-bottom: 50px;
    padding: 20px;
}

.youraccount .heading h2,
.contact .heading h2 {
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.youraccount .accbox {
    box-shadow: 5px 5px 10px #777;
    display: flex;
    align-items: center;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
}

.youraccount .accbox i {
    font-size: 60px;
    text-align: center;
    display: block;
    flex: 0 0 120px;
}

.youraccount .accbox strong {
    text-align: center;
    display: flex;
    justify-content: center;
}

.youraccount .accbox p {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 13px;
}

.section-class {
    position: relative;
}

.section-class h2 {
    text-transform: uppercase;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.section-class h2::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 50px;
    background: #c490e4;
    left: 0;
    border-radius: 6px;
}

.choosefile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.choosefile>[type=file] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.choosefile>[type=file]+label {
    background: #F2F2F2;
    border: none;
    border-radius: 5px;
    color: #0A0A0A;
    cursor: pointer;
    outline: none;
    padding: 2rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: 2px dotted #0A0A0A;
}

.choosefile i {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    top: 19%;
    z-index: 1;
    font-size: 25px;
}

.dfaultaddress>div {
    border: 4px solid #F2F2F2;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    border-radius: 6px;
}

.dfaultaddress>div ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.dfaultaddress>div ul li {
    display: inline-block;
    color: #c490e4;
    cursor: pointer;
}

.loginsecurity .custom-form .edit {
    background-color: #c490e4;
    border-color: #c490e4;
    float: right;
    z-index: 3;
    position: relative;
    color: #fff;
    border: 0;
    border-radius: 6px;
    font-size: 13px;
    text-transform: uppercase;
}

.loginsecurity .card-body {
    padding: 50px;
}

.loginsecurity .btn-primary {
    background-color: #c490e4;
    border-color: #c490e4;
    width: 100%;
    background: #c490e4;
    border: none;
    border-radius: 6px;
    color: #fff;
    padding: 4px;
}

.loginsecurity .custom-form .form-group {
    position: relative;
    padding-top: 16px;
    margin-bottom: 16px;
}

.loginsecurity .custom-form .form-group .animated-label {
    position: absolute;
    top: -9px;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    font-weight: 300;
    opacity: 0.5;
    cursor: text;
    transition: 0.2s ease all;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.loginsecurity .custom-form .form-group .animated-label:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    height: 2px;
    width: 10px;
    visibility: hidden;
    background-color: #c490e4;
    transition: 0.2s ease all;
}

.loginsecurity .custom-form .form-group.not-empty .animated-label {
    top: 0;
    font-size: 12px;
}

.loginsecurity .custom-form .form-group .form-control {
    position: relative;
    z-index: 1;
    border-radius: 0;
    border-width: 0 0 1px;
    border-bottom-color: rgba(0, 0, 0, 0.25);
    height: auto;
    padding: 3px 0 5px;
}

.loginsecurity .form-group .form-control :focus {
    box-shadow: none;
    border-bottom-color: rgba(0, 0, 0, 0.12);
}

.loginsecurity .custom-form .form-group .form-control :focus~.animated-label {
    top: 0;
    opacity: 1;
    color: #c490e4;
    font-size: 12px;
}

.loginsecurity .custom-form .form-group .form-control :focus~.animated-label:after {
    visibility: visible;
    width: 100%;
    left: 0;
}

.loginsecurity .password label {
    font-size: 13px;
}

.loginsecurity .password .form-control {
    border: 2px solid #c490e4;
}

.loginsecurity .password .btn-block {
    background-color: #c490e4;
    color: #fff;
    margin: 10px 0 10px 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.dfaultaddress .visa {
    font-size: 35px;
    color: #c490e4;
}

.addmore .addtocart {
    background: #c490e4;
    padding: 4px 9px;
    border-radius: 6px;
    color: #fff;
}

.addmore {
    margin: 30px 0 30px 0;
    display: flex;
    text-transform: uppercase;
}

.addmore>p {
    margin: 0 20px 0px 0px;
}

.custamtable .table>thead {
    background: #c490e4;
}

.custamtable .table>thead>tr>th {
    color: #fff;
}

.custamtable .table>thead>tr>th {
    color: #fff;
}

.custamtable .table>thead>tr>th:first-child {
    text-align: left;
    border-left: inherit;
}

.custamtable .table>thead>tr>th:last-child {
    border-right: inherit;
}

.custamtable .table>thead>tr>th {
    text-align: center;
}

.custamtable .table>tbody>tr>td {
    text-align: center;
    vertical-align: middle;
}

.custamtable .table>tbody>tr>th {
    vertical-align: middle;
}

.custamtable .table>tbody>tr>td>a {
    margin-left: 10px;
    color: #c490e4;
}

.custamtable .table>tbody>tr>th>span {
    color: #c490e4;
    font-weight: normal;
    font-size: 14px;
}

.custamtable .table>tbody>tr>th>img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
}

.custamtable .table>tbody {
    border: 1px solid #c490e4;
    border-radius: 6px;
}

.custamtable .table>thead>tr>th {
    border: 1px solid #0A0A0A;
    border-top: inherit;
    vertical-align: middle;
}

.pagination .page-item.active .page-link {
    background: #c490e4;
    border-color: #c490e4;
    color: #fff;
}

.pagination .page-link {
    color: #0A0A0A;
}

.choosepro>[type=file] {
    height: 0;
    overflow: hidden;
    width: 0;
    margin: 4px 0 0px 0;
}

.choosepro>[type=file]+label {
    background: #fff;
    border: none;
    border-radius: 5px;
    color: #c490e4;
    cursor: pointer;
    padding: 6px;
    transition: all 0.3s;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    border: 1px solid #c490e4;
}

.choosepro span {
    display: block;
    color: #6c757d;
    font-size: 14px;
    margin-top: 4px;
}

.section-heading h5 {
    text-transform: capitalize;
    font-weight: bold;
}

.pricelist .productname .price {
    float: right;
    clear: both;
    color: #c490e4;
}

.pricelist .productname {
    overflow: hidden;
}

.pricelist .productname .price>input {
    float: right;
    width: 50%;
}

.pricelist {
    margin-bottom: 30px;
}

.cardexpiry {
    display: flex;
}

.cardexpiry>select:nth-of-type(odd) {
    width: 20%;
    margin-right: 10px;
}

.cardexpiry>select:nth-of-type(even) {
    width: 30%;
}

.myOrder {
    box-shadow: 0px 2px 3px #777;
    margin-bottom: 50px;
    border-radius: 6px;
}

.myOrder .myOrderheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0px 2px 3px #777;
    padding: 10px;
}

.myOrder>.myOrderheader>div>h6 {
    text-transform: uppercase;
    color: #555555;
    margin: 0;
}

.myOrder>.myOrderheader>div>b {
    font-size: 14px;
}

.myOrder>.myOrderheader>div>a {
    color: #c490e4;
    text-transform: uppercase;
}

.myOrder .myOrderheader .name {
    color: #c490e4;
    text-transform: uppercase;
}

.myOrder .orderDetail .row {
    padding: 20px 10px 10px 10px;
}

.myOrder .orderDetail>div>img {
    border-radius: 6px;
    width: 90%;
}

.myOrder .orderDetail .orderPicked .btn {
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #c490e4;
    color: #c490e4;
    margin-bottom: 10px;
}

.myOrder .orderDetail .orderPicked .btn.active {
    background: #c490e4;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}

.myOrder .orderDetail .orderPicked .btn:hover {
    background: #c490e4;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

.myOrderDetail .sidebar {
    background: #CDF0EA;
    padding: 20px;
    border-radius: 6px;
}

.myOrderDetail .sidebar .post-item {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
}

.myOrderDetail .sidebar .recent-posts img {
    width: 80px;
    float: left;
    margin-right: 15px;
}

.myOrderDetail .sidebar .post-item p {
    font-size: 14px;
}

.myOrderDetail .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
}

.myOrderDetail .sidebar .section-class {
    align-items: unset;
}

.myOrderDetail .sidebar .section-class h2 {
    text-transform: capitalize;
    color: #0A0A0A;
    margin-left: 28px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.myOrderDetail .heading,
.contact .heading {
    border-bottom: 1px solid #c490e4;
    margin-bottom: 50px;
    padding: 20px;
}

.myOrderDetail .heading h2,
.contact .heading h2 {
    color: #4A4A4A;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.offer .table>tbody>tr>th>img {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    float: left;
    margin-right: 5px;
}

.sectionCapitlize .section-class h2 {
    text-transform: capitalize;
}

.offer .table>tbody>tr>td>a {
    margin-left: 0px;
}

.productOrderCode {
    display: flex;
    font-size: 14px;
}

.productOrderCode>span {
    margin-right: 10px;
    text-transform: uppercase;
}

.footerArea {
    border-top: 1px solid #0A0A0A;
    padding: 10px;
}

.footerArea>h6 {
    text-transform: uppercase;
    margin: 0;
}

.footerArea>p {
    margin: 0;
}

.addOffer {
    background: #f2f2f2;
    border-radius: 6px;
    margin-bottom: 30px;
}

.addOffer .sendbtn {
    background: #c490e4;
    color: #fff;
    padding: 4px 12px;
    border-radius: 6px;
    border: inherit;
    text-transform: uppercase;
}

.addOffer .sendbtn:last-child {
    background: transparent;
    color: #c490e4;
}

.addOffer .sendbtn:last-child:hover {
    background: #c490e4;
    color: #fff;
}

.newCart .btn {
    background: #c490e4;
    color: #fff;
    text-transform: uppercase;
}

.myOrderDetail .card+.card {
    margin-top: 15px;
}

.sidebar-item .cartDetail {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 10px 0 10px 0;
}

.sidebar-item .cartDetail>p {
    margin: 0;
}

.cartDetailTotal {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 10px 0 10px 0;
}

.cartDetailTotal>p {
    margin: 0 30px 0px 0px;
}

.totalAmount {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding: 10px 0 0px 0;
    border-top: 1px solid;
    margin-bottom: 20px;
}

.totalAmount>p {
    margin: 0 30px 0px 0px;
}

.sidebar .btn {
    background: #c490e4;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}