.align-items-center.text-white.bg-primary.border-0.position-fixed.top-0.end-0 {
  margin: 20px;
  border-radius: 6px;
}

.align-items-center.text-white.bg-primary.border-0.position-fixed.top-0.end-0.hide {
  opacity: 0;
}

.align-items-center.text-white.bg-primary.border-0.position-fixed.top-0.end-0.show {
  opacity: 1;
}

.me-2 {
  margin-left: 1rem !important;
}
