<section class="youraccount" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h2>your account</h2>
        </div>
      </div>
      <div class="col-lg-12 mb-5">
        <div class="section-class">
          <h2>hello, <strong>{{getUserDetails()?.username}}</strong></h2>
        </div>
      </div>
      <div class="col-lg-3 cursor-pointer" [routerLink]="['/your-order']">
        <div class="accbox">
          <div>
            <i class="bi bi-box"></i>
            <strong>Your Orders</strong>
            <p class="text-muted">Track,return.or buy things again</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 cursor-pointer" [routerLink]="['/login-security']">
        <div class="accbox">
          <div>
            <i class="bi bi-lock"></i>
            <strong>Login & Security</strong>
            <p class="text-muted">Edit Login,name ,and mobile number</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 cursor-pointer" [routerLink]="['/your-address']">
        <div class="accbox">
          <div>
            <i class="bi bi-geo-alt"></i>
            <strong>Your Address</strong>
            <p class="text-muted">Edit address for orders</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 cursor-pointer" [routerLink]="['/payment-options']">
        <div class="accbox">
          <div>
            <i class="bi bi-credit-card"></i>
            <strong>Payment Options</strong>
            <p class="text-muted">Edit or add payment options</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
