<section class="menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav id="navbar" class="navbar">
          <ul>
            <li [ngClass]="{'dropdown': item.child && item.child.length}" class="" *ngFor="let item of category"><a
                href="javascript:void(0)"><span (click)="item.isOpen = item.isOpen ? false : true"
                  class="text-white text-dark">{{item.name}}</span> <i
                  (click)="item.isOpen = item.isOpen ? false : true" *ngIf="item.child && item.child.length"
                  class="bi bi-chevron-down text-white text-dark"></i></a>
              <ul [ngClass]="{'dropdown-active': item.isOpen}" *ngIf="item.child && item.child.length && item.isOpen">
                <li *ngFor="let secondLevelCategory of item.child"
                  [ngClass]="{'dropdown': secondLevelCategory.child && secondLevelCategory.child.length}">
                  <a *ngIf="!(secondLevelCategory.child && secondLevelCategory.child.length)"
                    href="javascript:void(0)">{{secondLevelCategory.name}}</a>
                  <a *ngIf="secondLevelCategory.child && secondLevelCategory.child.length"
                    href="javascript:void(0)"><span>{{secondLevelCategory.name}}</span> <i
                      (click)="secondLevelCategory.isOpen = secondLevelCategory.isOpen ? false : true"
                      class="bi bi-chevron-right"></i></a>
                  <ul [ngClass]="{'dropdown-active': secondLevelCategory.isOpen}"
                    *ngIf="secondLevelCategory.child && secondLevelCategory.child.length && secondLevelCategory.isOpen">
                    <li *ngFor="let thirdLevelCategory of secondLevelCategory.child"><a href="javascript:void(0)">
                        {{thirdLevelCategory.name}}</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <i (click)="toggleMobileNav()" class="bi mobile-nav-toggle bi-list"></i>
        </nav>
      </div>
    </div>
  </div>
</section>
<div class="product">
  <div class="container d-flex">
    <div class="row">
      <div class="col-lg-6">
        <div class="inner">
          <img src="assets/img/dummy.png" alt="img">
          <div class="text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="inner">
              <img src="assets/img/dummy.png" alt="img">
              <div class="text">
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="inner">
              <img src="assets/img/dummy.png" alt="img">
              <div class="text">
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="inner">
              <img src="assets/img/dummy.png" alt="img">
              <div class="text">
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="inner">
              <img src="assets/img/dummy.png" alt="img">
              <div class="text">
                <p>Lorem Ipsum is simply dummy text.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="product_collction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="section-class">
          <h2>special collection</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_realated">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="inner">
          <img src="assets/img/dummy.png" alt="img">
        </div>
      </div>
      <div class="col-lg-6 my-2">
        <div class="section-class">
          <h2>Lorem Ipsum</h2>
        </div>
        <div class="inner-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make
            a type specimen book. It has survived not only five centuries,</p>
          <a href="javascript:void(0)">View More <span><i class="bi bi-chevron-right"></i></span> </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="allproduct">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-5">
        <div class="section-class">
          <h2>Most Popular</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="card">
          <img src="assets/img/dummy.png" alt="img">
          <div class="card-body">
            <h5 class="card-title"> Lorem Ipsum is simply</h5>
            <h6 class="card-subtitle mb-2 text-muted">Lorem Ipsum</h6>
            <!-- <p class="card-text"> Lorem Ipsum  </p> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price">
                <h5 class="mt-4">INR 555/-</h5>
              </div>
              <a href="javascript:void(0)" class="addtocart  mt-3"> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product_realated">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-2">
        <div class="section-class">
          <h2>Lorem Ipsum</h2>
        </div>
        <div class="inner-text">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make
            a type specimen book. It has survived not only five centuries,</p>
          <a href="javascript:void(0)">View More <span><i class="bi bi-chevron-right"></i></span> </a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="inner">
          <img src="assets/img/dummy.png" alt="img">
        </div>
      </div>

    </div>
  </div>
</section>
