<section class="myOrderDetail" style="padding-top: 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="heading">
          <h2>your account</h2>
        </div>
      </div>
      <div class="col-lg-12 mb-5">
        <div class="section-class">
          <h2> your cart</h2>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body newCart">
            <div class="row">
              <div class="col-lg-4">
                <img src="./assets/img/dummy.png">
              </div>
              <div class="description col-lg-4">
                <p>Lorem Ipsum is simply</p>
                <div class="item-selct">
                  <div class="btn-minus"><span><i class="bi bi-dash-lg"></i></span></div>
                  <input value="1" />
                  <div class="btn-plus"><span><i class="bi bi-plus-lg"></i></span> </div>
                </div>
                <div class="buy d-flex  align-items-center">
                  <div class="price">
                    <h5 class="mt-4">INR 555/-</h5>
                  </div>
                </div>
              </div>
              <div class="orderPicked col-lg-4">
                <button type="button" class="btn" [routerLink]="['/product-details', 123456]">view product
                  details</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body newCart">
            <div class="row">
              <div class="col-lg-4">
                <img src="./assets/img/dummy.png">
              </div>
              <div class="description col-lg-4">
                <p>Lorem Ipsum is simply</p>
                <div class="item-selct">
                  <div class="btn-minus"><span><i class="bi bi-dash-lg"></i></span></div>
                  <input value="1" />
                  <div class="btn-plus"><span><i class="bi bi-plus-lg"></i></span> </div>
                </div>
                <div class="buy d-flex  align-items-center">
                  <div class="price">
                    <h5 class="mt-4">INR 555/-</h5>
                  </div>
                </div>
              </div>
              <div class="orderPicked col-lg-4">
                <button type="button" class="btn" [routerLink]="['/product-details', 123456]">view product
                  details</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body newCart">
            <div class="row">
              <div class="col-lg-4">
                <img src="./assets/img/dummy.png">
              </div>
              <div class="description col-lg-4">
                <p>Lorem Ipsum is simply</p>
                <div class="item-selct">
                  <div class="btn-minus"><span><i class="bi bi-dash-lg"></i></span></div>
                  <input value="1" />
                  <div class="btn-plus"><span><i class="bi bi-plus-lg"></i></span> </div>
                </div>
                <div class="buy d-flex  align-items-center">
                  <div class="price">
                    <h5 class="mt-4">INR 555/-</h5>
                  </div>
                </div>
              </div>
              <div class="orderPicked col-lg-4">
                <button type="button" class="btn" [routerLink]="['/product-details', 123456]">view product
                  details</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="section-class">
            <h2>checkout</h2>
          </div>
          <div class="sidebar-item recent-posts">
            <div class="cartDetail">
              <span class="text-muted">2 X</span>
              <p>Lorem Ipsum is simply</p>
              <div class="price">
                <b>INR 555/-</b>
              </div>
            </div>
            <div class="cartDetail">
              <span class="text-muted">2 X</span>
              <p>Lorem Ipsum is simply</p>
              <div class="price">
                <b>INR 555/-</b>
              </div>
            </div>
            <div class="cartDetail">
              <span class="text-muted">2 X</span>
              <p>Lorem Ipsum is simply</p>
              <div class="price">
                <b>INR 555/-</b>
              </div>
            </div>
            <div class="cartDetailTotal">
              <p>Product Total</p>
              <div class="price">
                <b> 555/-</b>
              </div>
            </div>
            <div class="cartDetailTotal">
              <p>Tax</p>
              <div class="price">
                <b> 555/-</b>
              </div>
            </div>
            <div class="cartDetailTotal">
              <p>Delivery Charge</p>
              <div class="price">
                <b> 555/-</b>
              </div>
            </div>
            <div class="cartDetailTotal">
              <p>Offer</p>
              <div class="price">
                <b class="text-danger"> 555/-</b>
              </div>
            </div>
            <div class="totalAmount">
              <p>TOTAL AMOUNT</p>
              <div class="price">
                <b> 2555/-</b>
              </div>

            </div>
            <button type="button" class="btn">checkout</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
